@import url(../css/home.css);

.band-name {
	text-align: center;
	margin: 0;
	color: white;
}

.band-name-large {
	font-size: 8em;
}

.content-section {
	margin: 1em;
}

.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 1.5em;
}
.section-header {
	font-weight: normal;
	color: blanchedalmond;
	text-align: center;
	font-size: 2.5em;
}

.about-band-image {
	float: left;
	height: 200px;
	width: 200px;
	margin: 15px;
	border-radius: 50%;
}

.main-footer {
	background-color: #56ccf2;
	color: white;
	padding: 0.25em 0;
}

.main-footer-container {
	display: flex;
	align-items: center;
}

.main-footer-container ul {
	flex-grow: 1;
	text-align: end;
}

.footer-nav li {
	padding: 0 0.5em;
}

.footer-nav img {
	width: 30px;
	height: 30px;
}

.btn {
	border: none;
	outline: 0;
	padding: 12px;
	color: rgb(255, 243, 229);
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
}

.tour-row {
	border-bottom: 1px solid black;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

.tour-row:last-child {
	border: none;
}

.tour-item {
	display: inline-block;
	padding-right: 0.5em;
}

.tour-date {
	color: #555;
	width: 11%;
	font-weight: bold;
}

.tour-city {
	width: 24%;
}

.tour-arena {
	width: 42%;
}

.tour-btn {
	max-width: 19%;
}

.shop-item {
	margin: 30px;
}

.shop-item-title {
	display: block;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	color: rgba(255, 235, 205, 0.749);
	margin-bottom: 15px;
}

.shop-item-image {
	height: 250px;
	width: 250px;
}

.shop-item-details {
	display: flex;
	align-items: center;
	padding: 5px;
}

.shop-item-price {
	flex-grow: initial;
	color: rgb(255, 243, 229);
}

.shop-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.cart-header {
	font-weight: bold;
	font-size: 1.25em;
	color: rgb(255, 243, 229);
}

.cart-column {
	display: flex;
	align-items: center;
	border-bottom: 1px solid black;
	margin-right: 1.5em;
	padding-bottom: 10px;
	margin-top: 10px;
}

.cart-row {
	display: flex;
}

.cart-item {
	width: 45%;
}

.cart-price {
	width: 20%;
	font-size: 1.2em;
	color: rgb(255, 243, 229);
}

.cart-quantity {
	width: 35%;
}

.cart-item-title {
	color: blanchedalmond;
	margin-left: 0.5em;
	font-size: 1.2em;
}

.cart-item-image {
	width: 75px;
	height: auto;
	border-radius: 10px;
}

.btn-danger {
	color: white;
	background-color: #eb5757;
	border: none;
	border-radius: 0.3em;
	font-weight: bold;
}

.btn-danger:hover {
	background-color: #cc4c4c;
}

.cart-quantity-input {
	height: 34px;
	width: 50px;
	border-radius: 5px;
	border: 1px solid #56ccf2;
	background-color: #eee;
	color: rgb(0, 0, 0);
	padding: 0;
	text-align: center;
	font-size: 1.2em;
	margin-right: 25px;
}

.cart-row:last-child {
	border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
	border: none;
}

.cart-total {
	text-align: end;
	margin-top: 10px;
	margin-right: 10px;
}

.cart-total-title {
	font-weight: bold;
	font-size: 1.5em;
	color: blanchedalmond;
	margin-right: 20px;
}

.cart-total-price {
	color: blanchedalmond;
	font-size: 1.1em;
}

.btn-purchase {
	border: solid;
	border-color: antiquewhite;
	display: block;
	background-color: transparent;
	margin: 40px auto 80px auto;
	font-size: 1.75em;
}

.shop-item button {
	text-align: right;
}

.btn-danger {
	width: auto;
	font-size: small;
}

.shop-item {
	box-shadow: 0 2px 10px 0 rgba(253, 201, 132, 0.616);
	max-width: 300px;
	margin: 20px 10px 10px 10px;
	text-align: center;
	font-family: arial;
	padding: 20px;
}
