@import url("../css/home.css");


* {
    box-sizing: border-box ;
}


.card-container {
  margin: auto;
}

.card-column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.card-container::after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 2px 10px 0 rgba(253, 201, 132, 0.616);
  max-width: 300px;
  margin: 20px 10px 10px 10px;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
  padding: 10px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.card h1 {
  color: antiquewhite;
  padding: 10px;
}

.card p {
  color: antiquewhite;
  padding: 10px;
  text-align: center;
}

.incart{
  display: none;
}


@media screen and (max-width: 850px) {
  .card-column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

